/* FONTS */

@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 300;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

h3::first-letter {
    color: #dca453;
}

.aw-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

.aw-align-center {
    align-items: center;
}

/* ------ */
/* HEADER */
/* ------ */

header {
    position: relative;
}

header nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0;
    z-index: 999;
}

header nav ul.aw-navigation {
    display: flex;
    list-style-type: none;
}

header nav ul.aw-navigation li a {
    display: block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 16px;

}

header nav ul.aw-navigation li a:last-child {
    padding-right: 0;
}

header nav ul.aw-navigation li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header nav ul.aw-navigation li a:hover::after {
    width: 100%;
    opacity: 1;
}

.aw-header-text {
    
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .5);
}

.aw-main-banner {
    display: block;
    width: 100%;
}

.aw-header-text .aw-arrow {
    display: inline-block;
    border: solid #fff;
    padding: 20px;
    border-width: 0 3px 3px 0;
    cursor: pointer;

    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.aw-header-text .aw-arrow:hover {
    opacity: .7;
}

/* ------ */
/* LOGO   */
/* ------ */

.aw-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 26px;
    border: solid 2px #fff;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
/* -------- */
/* SECTIONS */
/* -------- */

.aw-section {
    padding: 85px 0;
}

/* -------- */
/* ABOUT US */
/* -------- */

#aw-about .aw-column {
    width: 48%;
    margin-top: 50px;
    text-align: center;
}

#aw-about i {
    font-size: 45px;
    color: #dca453;
}

.aw-column p {
    margin-top: 20px;
}

/* ------- */
/* GALLERY */
/* ------- */

#aw-gallery {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
}

#aw-gallery li {
    width: 20%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#aw-gallery li img {
    width: 100%;
    display: block;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
} 

#aw-gallery li:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#aw-gallery li:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#aw-gallery li:hover:after {
    width: 0;
    height: 0;
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
.aw-pulsate {
    -webkit-animation: pulsate 3s ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}